* {
    margin: 0px;
}

*::-webkit-scrollbar {
    display: none;
}

.block {
    position: relative;
}

.block p {
    overflow: scroll;
    height: 50%;
    position: absolute;
    text-align: right;
    top: 50%;
    right: 2%;
    width: 50%;
    transform: translateY(-50%);
}

.x, .y{
    overflow: scroll;
}

.block1 {
    background-color: rgb(100, 100, 255);
    height: 15vh;
}

.x{
    text-align: right;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: 
                        "a b c"
                        "d d c";
    width: 100%;
    height: 70vh;
}

.block2, .block3, .block4, .block5 { 
    width: 100%;
    height: 100%;
}

.block2 { 
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block4 {
    background-color: antiquewhite;
    grid-area: c;
}

.block5 {
    background-color: rgb(200, 255, 200);
    grid-area: d;
}

.block5 p {
    left: 2%;
    text-align: left;
}

.block6 {
    background-color: rgb(100, 100, 255);
    height: 15vh;
}

.y {
    text-align: left;
    width: 20%;
    position: relative;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    max-height: 100%;
}

